# --- BACKEND (Python / Django) ---
venv/
venv-academia/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.tmp
*.bak
*.pub
*.keystore
*.avd
.cache/
.bash_history
.gitconfig
.history/

# IDEs
.vscode/
.idea/

# --- FRONTEND (Vue.js / Node.js) ---
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.cache/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.output/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
